*{
    margin: 0;
    padding: 0;
}
body{
    padding: 1%;
    /* background-color: aqua; */
}


header{
    display: flex;
    flex-wrap: wrap; 
    flex-grow: 1;   
    align-items: center;
    justify-content: space-between;

    
}
header>img{
    width: 200px;
}
header>input{
    height: 30px;   
    flex-basis: 600px;
    
}
.navbar{
    /* background-color: blueviolet;  /   */
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 10px;


}
 @media screen and (max-width:800px) {
    header{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;

        }
     header>img{
        /* padding: 3%; */
        margin: 30px;
     } 
     header>input{
        margin: 20px;
     } 
     .navbar{
        margin: 20px;
     }  
    
}
/* ===================================================================================================/ */
.aside{
    flex-basis: 270px;

    /* flex-grow: 0.5; */
    flex-wrap: wrap;
    /* background-color: aqua; */
    
}
.aside>ul li{
    list-style-position: outside;
    text-decoration: none; 
    padding: 1%;
    list-style: url(/css/layout/image/icons8-more-than-20.png);
}

    

.aside>p{
    border-bottom: 1px solid rgba(128, 128, 128, 0.235);
}
.heading{

    /* background-color: aqua; */
    flex-basis: 100px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 2%;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}

.main-body{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 8;
    /* padding: 2%; */
    /* justify-content: space-evenly; */
    /* background-color: lightcoral; */
    
}

.combine-body{
    flex-grow: 0.5;
    /* justify-content: space-between; */
    flex-basis: 800px;

}
.nav{
    display: flex;
    flex-grow: 1;
    /* flex-direction: column; */
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    
}
.article-left{
    display: flex
    /* justify-content: space-between; */
    
}
.nav a{
    text-decoration: none;
    padding: 10px;
    /* align-items: end; */
}

.sub-body{
    /* background-color: aqua; */
    /* display: flex; */
    flex-direction: row;
}
.article-body{
    /* background-color: brown; */
    flex-basis: 500px;
    flex-grow: 1;
    padding:10px ;
    text-align: justify;
    display: flex;
    /* letter-spacing: 1px; */
    line-height: 20px;
    margin-left: 10px 10px;
    /* flex-direction: column; */
    

}

.article-body>h2{
    font-style: initial;
    border-bottom: 1px solid rgba(128, 128, 128, 0.699);    
}
.article-details{
    flex-grow: 2;
    /* display: flex; */
    text-align: center;
    flex-wrap: wrap;
    margin: 8% auto;
    align-items: center;
    flex-basis: 100px;
    margin-left: 20px;

    /* flex-direction: column; */
    /* border: 1px solid black; */
    
}
.article-grow{
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.699);     */
    text-align: justify;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 10px;
    /* margin-top: -60px; */

}

.article-grow h2{
    margin-top: -25px;
    padding: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.699);    
}
.sub-article{
    display: flex;
    justify-content: space-between;
}

.detail{
    border: 1px solid black;
    text-align: center;
    /* display: flex; */
    flex-wrap: wrap;
    background-color: rgb(238, 240, 243); 
    padding: 20px;
    
}
.detail img{
    width: 240px;
    /* margin: 5px 10px; */
}
.detail h4{
    background-color: rgb(187, 209, 231);
}


.personal-details{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: space-between;
    
    flex-basis: 200px;
}
.personal-details ul li{
    list-style: none;
    text-align: justify;        
    line-height: 20px;

    /* padding: 1% 5%; */

}
.left-details ul li{
    font-style: normal;
    text-align: justify;
    line-height: 30px;

}

.left-details1 ul li{
    line-height: 30px;
    font-style: normal;
    text-align: justify;


}
.right-details ul li{

line-height: 30px;
font-style: normal;
text-align: justify;
}



.personal-details1{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100px;

}
.personal-details1 ul li{
    list-style: none;
    text-align: justify;        
    line-height: 30px;
}


/* ========================================================================================================== */

@media screen and (max-width:1200px){
    .aside{
        flex-grow: 0.1;
        display: flex;
        justify-content: center;
    }
    

}
@media screen and (max-width:850px) {
     .detail{
        flex-grow: 0.3;
     }
     .sub-body{
        display: flex;
        flex-wrap: wrap;
     }

}
@media screen and (max-width:800px){
    .heading{
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */

    }
    .sub-body{
        flex-wrap: nowrap;
        
        flex-direction: column;
    }
    .aside{
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        flex-basis: 700px;
    }
    .article-grow{
        flex-grow: 1;
        /* display: flex; */
        /* background-color: aqua; */
        margin-top: -40px;
        letter-spacing: 1px;
        line-height: 19px;
        padding: 3%;
    }
    .article-body{
        display: flex;
        flex-wrap: nowrap;
        letter-spacing: 1px;
        line-height: 19px;
        padding: 10px;
        /* margin-right: 20px; */
        
    
    }
    .article-details{
        margin-right: 20px;
        
    }
    header{
        /* background-color: brown; */
    }

}  
@media screen and (max-width:400px){
.heading, .sub-article{
    padding-right: 20px;
    padding-left: 20px;
}
    .detail{
        /* background-color: red; */
        flex-basis: 200px;
        margin: 0;
    }
    *{
        margin: 0;
        padding: 0;
    }
    
}  
@media screen and (max-width:505px){
    .nav{
        /* background-color: aqua;  */
        justify-content: center;
        /* align-items: center; */
        align-content: center;
        flex-direction: column;
    }
    .article-grow h2{
        margin-top: -10px;
    }
    .article-left{
        padding-bottom: 20px;
    }
    .article-grow{
        flex-grow: 1;
        letter-spacing: 1px;
        line-height: 19px;
    }
    .article-body{
        display: flex;
        flex-wrap: wrap;
        letter-spacing: 1px;
        line-height: 19px;
        /* margin-right: 20px; */
        
    
    }
    .article-details{
        margin-left: 20px;
    }
    .detail{
        padding: 10px;
        
        justify-content: center;
        /* align-items: center; */
    }
    
    
}


       


